/* admin.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #343a40;
    color: #fff;
    transition: all 0.3s;
    height: 100vh;
    position: fixed;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #23272b;
    text-align: center;
}

#sidebar ul.components {
    padding: 0;
    margin: 0;
    list-style: none;
}

#sidebar ul li {
    padding: 10px;
    text-align: left;
}

#sidebar ul li a {
    color: #adb5bd;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s;
}

#sidebar ul li a:hover,
#sidebar ul li.active>a {
    color: #fff;
    background: #495057;
}

#content {
    margin-left: 250px;
    width: calc(100% - 250px);
    padding: 20px;
    overflow-y: auto;
}

.content-inner {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.navbar {
    background: #23272b;
    color: #fff;
    padding: 10px 20px;
}

.navbar .nav-item .nav-link {
    color: #fff;
}

.table {
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 0 15px;
}

.table thead {
    background: #343a40;
    color: #fff;
    border: none;
}

.table thead th {
    border: none;
}

.table tbody tr {
    background: #fff;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table tbody tr td {
    border: none;
    padding: 15px;
    vertical-align: middle;
}

.table tbody tr td form {
    display: inline-block;
    margin-right: 5px;
}

.btn {
    padding: 5px 10px;
    font-size: 0.9em;
    border-radius: 5px;
    text-transform: uppercase;
}

.btn-warning {
    background-color: #f0ad4e;
    border-color: #eea236;
    color: #fff;
}

.btn-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}

.btn-warning:hover {
    background-color: #ec971f;
    border-color: #d58512;
}

.btn-danger:hover {
    background-color: #c9302c;
    border-color: #ac2925;
}

#sidebarCollapse {
    color: #fff;
    background: #343a40;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#sidebarCollapse:hover {
    background: #495057;
}