* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* NAVBAR */
nav {
    width: 100%;
    height: 75px;
    line-height: 75px;
    /* display: flex; */
    /* justify-content:center; */
    padding: 0px 100px;
    position: fixed;
    background-image: linear-gradient(#033747, #012733);
}

/* NAVBAR TEXT STYLING */
.Navigation {
    font-size: 40px;
    font-weight: bold;
    font-style: Times New Roman;
    float: left;
    color: #fff;
    /* box-shadow: 0 0 5px cyan, 0 0 25px cyan; */
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.Navigation:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}

nav ul {
    float: right;
}

nav li {
    display: inline-block;
    list-style: none;
}

nav li a {
    font-size: 18px;
    text-transform: uppercase;
    font-family: arial;
    padding: 0px 30px;
    text-decoration: none;
}

nav li a:hover {
    /* color: #ff8c69  */
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}

#img2:hover {
    box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}

/* Add styles for the main search bar */
/* .main-search-container {
    margin: 10px 0;
} */
/* ... Your existing styles ... */
nav .main-search-container {
    display: flex;
    align-items: center;
}

nav .main-search-container label {
    margin-right: 10px;
}

nav .main-search-container input {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

nav .main-search-container .btn {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

nav .main-search-container .btn:hover {
    background-color: #45a049;
}